<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Observations – Production électrique et CO₂</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS commun -->
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-brand">CarbonFootprint Project</div>
            <ul class="navbar-menu">
                <li><a href="/">Accueil</a></li>
                <li><a href="/observations">Observations</a></li>
                <li><a href="/analyse" class="active">Analyse par pays</a></li>
                <li><a href="/methodologie">Méthodologie</a></li>
            </ul>
        </div>
    </nav>

    <!-- Contenu -->
    <div class="container">
        <h1>Methodologie<h1>
    </div>

</body>
</html>
