<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Observations – Production électrique et CO₂</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS commun -->
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">

    <!-- Import de plotly -->
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-brand">CarbonFootprint Project</div>
            <ul class="navbar-menu">
                <li><a href="/">Accueil</a></li>
                <li><a href="/observations" class="active">Observations</a></li>
                <li><a href="/analyse">Analyse par pays</a></li>
                <li><a href="/methodologie">Méthodologie</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="card">
            <div class="card-header">
                Production électrique mondiale
            </div>
            <div class="card-body">
                <div style="display: flex; gap: 20px;">
                    <div id="graph-1" style="flex: 1;"></div>
                    <div id="graph-2" style="flex: 1;"></div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Répartition des énergies fossiles et bas-carbone par région (%)
            </div>
                <div class="card-body" style="display: flex; justify-content: center;">
                <div id="graph-3" style="width: 1000px; height: 500px;"></div>
            </div>
        </div>
    </div>

    <script>
        const fig1 = {{ graph | safe }};
        const fig2 = {{ graph_2 | safe }};
        const figBar = {{ graph_bar | safe }};

        fig1.layout.height = 400;
        fig2.layout.height = 400;

        Plotly.newPlot('graph-1', fig1.data, fig1.layout, {responsive: true});
        Plotly.newPlot('graph-2', fig2.data, fig2.layout, {responsive: true});
        Plotly.newPlot('graph-3', figBar.data, figBar.layout, {responsive: true});
    </script>

</body>
</html>