<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Observations – Production électrique et CO₂</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS commun -->
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">

    <!-- Import de plotly -->
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-brand">CarbonFootprint Project</div>
            <ul class="navbar-menu">
                <li><a href="/">Accueil</a></li>
                <li><a href="/observations" class="active">Observations</a></li>
                <li><a href="/analyse">Analyse par pays</a></li>
                <li><a href="/methodologie">Méthodologie</a></li>
            </ul>
        </div>
    </nav>

    <div class="card">
    <div class="card-header">
        Répartition mondiale des sources d'énergie
    </div>
    <div class="card-body">

        <!-- Graph Plotly -->
        {{ graph | safe }}
    </div>
</div>


    <!-- Contenu
    <div class="container">
        <h1>Observations</h1>
    </div> -->

</body>
</html>
