<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Observations – Production électrique et CO₂</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS commun -->
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}?v=3">

    <!-- Import de plotly -->
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar sidebar">
        <div class="navbar-brand">
            CarbonFootprint Project
        </div>

        <ul class="navbar-menu">
            <li>
                <a href="/" title="Présentation du projet">
                    Présentation
                </a>
            </li>

            <li>
                <a href="/observations" class="active" title="Analyses et constats">
                    Observations
                </a>
            </li>

            <li class="separator"></li>

            <li>
                <a href="/analyse" title="Simulation CO₂">
                    Calculateur CO₂
                </a>
            </li>

            <li class="separator"></li>

            <li>
                <a href="/methodologie" title="Sources et hypothèses">
                    Méthodologie
                </a>
            </li>
        </ul>
    </nav>


    <div class="container">
        <div class="card">
            <div class="card-header">
                Production électrique mondiale
            </div>
            <div class="card-body">
                <div style="display: flex; gap: 20px;">
                    <div id="graph-1" style="flex: 1;"></div>
                    <div id="graph-2" style="flex: 1;"></div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Répartition des énergies fossiles et bas-carbone par région (%)
            </div>
                <div class="card-body" style="display: flex; justify-content: center;">
                <div id="graph-3" style="width: 1000px; height: 500px;"></div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">   
                    Sources d’énergie par pays – Top 5 consommateurs mondiaux d'électricité
            </div>
            <div class="card-body" style="display: flex; justify-content: center;">
                <div id="graph-4" style="width: 1000px; height: 500px;"></div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Focus sur le top 3 des pays les plus "vertueux"
            </div>
            <div class="card-body">
                <div style="display: flex; gap: 20px;">
                    <div id="graph-5" style="flex: 1;"></div>
                    <div id="graph-6" style="flex: 1;"></div>
                    <div id="graph-7" style="flex: 1;"></div>
                </div>
            </div>
        </div>

    <script>
        const fig1 = {{ graph | safe }};
        const fig2 = {{ graph_2 | safe }};
        const figBar = {{ graph_bar | safe }};
        const fig4 = {{ graph_4 | safe }};
        const fig5 = {{ graph_5 | safe }};
        const fig6 = {{ graph_6 | safe }};
        const fig7 = {{ graph_7 | safe }};


        fig1.layout.height = 400;
        fig2.layout.height = 400;

        Plotly.newPlot('graph-1', fig1.data, fig1.layout, {responsive: true});
        Plotly.newPlot('graph-2', fig2.data, fig2.layout, {responsive: true});
        Plotly.newPlot('graph-3', figBar.data, figBar.layout, {responsive: true});
        Plotly.newPlot('graph-4', fig4.data, fig4.layout, {responsive: true}); 
        Plotly.newPlot('graph-5', fig5.data, fig5.layout, {responsive: true});
        Plotly.newPlot('graph-6', fig6.data, fig6.layout, {responsive: true});
        Plotly.newPlot('graph-7', fig7.data, fig7.layout, {responsive: true});
    </script>

</body>
</html>